.work-portfolio-img-card-l {
    display: flex;
    position: relative;
    margin-top: 60px;
}
.portfolio-img-l {
    width: 60%;
    object-fit: contain;
}
.img-card {
    position: relative;
    float: right;
    right: 10%;
    margin-top: 30px;
    padding: 25px 25px;
    background-color: #483318;
}
#img-card-title {
    font-size: 30px;
    padding-bottom: 15px;
}
#img-card-synopsis {
    font-size: 23px;
    padding-bottom: 30px;
}

.btn {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 20px;
    color: rgb(82, 82, 51);
    background-color: #F5E0CD;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .work-portfolio-img-card-l {
        display: inline-grid;
    }
    .portfolio-img-l {
        width: 100%;
    }
    .img-card {
        right: 0%;
        margin-top: 5px;;
    }
}